@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }